@media screen and (min-width: 480px) and (max-width: 639px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 640px) and (max-width: 719px) {
  html {
    font-size: 20px;
  }
}
@media screen and (min-width: 720px) and (max-width: 749px) {
  html {
    font-size: 22.5px;
  }
}
@media screen and (min-width: 750px) and (max-width: 799px) {
  html {
    font-size: 23.5px;
  }
}
@media screen and (min-width: 800px) and (max-width: 959px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1079px) {
  html {
    font-size: 30px;
  }
}
@media screen and (min-width: 1080px) {
  html {
    font-size: 32px;
  }
}