.default-display-image {
    background-image: url(@defaultDisplayUrl);
}

.arrow {
    background-image: url(@arrowUrl);
}

.weixinLogo {
    background-image: url(@weixinUrl);
}

.aliPayLogo {
    background-image: url(@alipayUrl);
}

.unionPayLogo {
    background-image: url(@unionUrl);
}

.baiduLogo {
    background-image: url(@baiduUrl);
}

.member-rank-0 {
    background-image: url(@MemberRank0Url);
}

.member-rank-1 {
    background-image: url(@MemberRank1Url);
}

.member-rank-2 {
    background-image: url(@MemberRank2Url);
}

.member-rank-3 {
    background-image: url(@MemberRank3Url);
}

.member-rank-4 {
    background-image: url(@MemberRank4Url);
}

.member-rank-5 {
    background-image: url(@MemberRank5Url);
}

.minus-field {
    .img {
        background-image: url(@minusUrl);
    }
}

.plus-field {
    .img {
        background-image: url(@plusUrl);
    }
}

.choose-field:not(.choose-for-order) {
    background-image: url(@uncheckedUrl);
}


li.choose,
.via-cash-title-field.choose, li:active {
    .choose-field:not(.choose-for-order) {
        background-image: url(@checkedUrl);
    }
}

.VIP-member-image {
    background-image: url(@VIPMemberUrl);
}

.default-square-image {
    background-image: url(@defaultDishUrl);
}

.close-btn-image {
    background-image: url(@closeUrl);
}
