#brae-detail-page {
    .like-icon.like {
        background-image: url(@likeUrl);
    }
    .like-icon.unlike {
        background-image: url(@unlikeUrl);
    }
}

.half-img {
    background-image: url(@halfImgUrl);
}

.sale-img {
    background-image: url(@saleImgUrl);
}

.discount-img {
    background-image: url(@discountImgUrl);
}

.limit-img {
    background-image: url(@limitUrl);
}

.trolley-image {
    background-image: url(@trolleyUrl);
}
