.coupon-icon {
	background-image: url(@coupon-icon-url);
}
li.Coupon {
	&.display {
		background-image: url(@coupon-background-brown-url);
	}
}
.center-line {
	background-image: url(@center-line-url);
}