/*braeco-home-page*/
#brae-home-page .all-page-field #Menu-page {
  position: relative;
}
#brae-home-page .all-page-field #Menu-page #Menu-acitvity-column {
  width: 100%;
  height: 95px;
  position: relative;
}
#brae-home-page .all-page-field #Menu-page #Menu-acitvity-column .activity-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: auto;
}
#brae-home-page .all-page-field #Menu-page #Menu-acitvity-column .activity-wrapper .activity-display-list {
  height: 95px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#brae-home-page .all-page-field #Menu-page #Menu-acitvity-column .activity-wrapper .activity-display-list li {
  float: left;
  width: 100%;
  height: 95px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#brae-home-page .all-page-field #Menu-page #Menu-acitvity-column .activity-wrapper .activity-display-list li img {
  background-color: yellow;
  height: 100%;
  width: 100%;
}
#brae-home-page .all-page-field #Menu-page #Menu-acitvity-column .choose-wrapper {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  bottom: 10px;
  height: 20px;
}
#brae-home-page .all-page-field #Menu-page #Menu-acitvity-column .choose-wrapper .choose-dot-list {
  height: 100%;
  display: inline-block;
  margin: 0 auto 0 auto;
}
#brae-home-page .all-page-field #Menu-page #Menu-acitvity-column .choose-wrapper .choose-dot-list li {
  float: left;
  height: 20px;
  width: 20px;
}
#brae-home-page .all-page-field #Menu-page #Menu-acitvity-column .choose-wrapper .choose-dot-list li .dot {
  width: 8px;
  height: 8px;
  margin: 6px auto 6px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
#brae-home-page .all-page-field #Menu-page #Menu-acitvity-column .choose-wrapper .choose-dot-list .active .dot {
  background-color: #fff;
}
#brae-home-page .all-page-field #Menu-page #Menu-acitvity-column .choose-wrapper .choose-dot-list .inactive .dot {
  background-color: #979797;
}
#brae-home-page .all-page-field #Menu-page #Menu-category-column {
  width: 100%;
  margin: 10px 0 60px 0;
}
#brae-home-page .all-page-field #Menu-page #Menu-category-column .category-wrapper {
  margin: 0 10px 0 10px;
}
#brae-home-page .all-page-field #Menu-page #Menu-category-column .category-wrapper .category-display-list li {
  margin-bottom: 10px;
  height: 87px;
  position: relative;
}
#brae-home-page .all-page-field #Menu-page #Menu-category-column .category-wrapper .category-display-list li .category-img {
  width: 100%;
  height: 100%;
}
#brae-home-page .all-page-field #Menu-page #Menu-category-column .category-wrapper .category-display-list li .category-name-field {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#brae-home-page .all-page-field #Menu-page #Menu-category-column .category-wrapper .category-display-list li .category-name-field .category-name {
  margin: 5px 0 5px 8px;
  color: #fff;
  line-height: 16px;
}
#brae-home-page #nav-field .bottom-field {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border-top: solid 1px #C8C7CC;
  position: fixed;
  bottom: 0;
  left: 0;
}
#brae-home-page #nav-field .bottom-field div {
  float: left;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
#brae-home-page #nav-field .bottom-field #Menu {
  background-size: 24px 40px;
}
#brae-home-page #nav-field .bottom-field #Already {
  background-size: 25.778px 40px;
}
#brae-home-page #nav-field .bottom-field #Individual {
  background-size: 17.7px 40px;
}
#brae-home-page #nav-field .bottom-field .Menu-checked {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAABaBAMAAAABXbjPAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAhUExURQAAAP/BBv+/BP/ABv/BBv/ABf/ABv++BP+7AP/BBv/BB4ria0cAAAAKdFJOUwDLRJ7mYX8pFLTZP4+MAAAB+0lEQVRIx+2Vz2/SYBjHvys/7YkmsISeujIz5UTGnBk3STOBE1OmjlPJSDE9vcTNup2qc5H0RHDO0NvowqR/pS8UeKuuvYt+D0+e5NP3eZ/3+7Rv0XUDNDEhBjG3gEDkplaG3bywA1kFa/SBItMOY33EXfcHmDjGUoi47lhmyjE2RjO4z9vV9jrsfGG+hPkZNoew+YXNfdXfeXcYzEY4CWQzr0c+r2O/sbv72R0+06gw1Xy97Nb+yTnYgUzFhRCgdfzXX6IH/UWWMHs0XvvZ+vFr7fBVB+D7eRWJMUORs2/a1q7WTlGmnhPjXaVnPJoz/WBbJg/RlICoapGS92nNlKwWi2mykZlWitYt0qKRm9+Ka4M6VwZKz+9h3U/VxlbmwrHVJZO45W16Uv7oXNVjionoE13TlZqizFky53zJdgfAJV2XHQ5bRt44nbO8QzY10n6L2X5ACwdY1OTMs3KkkrC3l+x6yfDYzRZv9q7EagfRjmGWhFshPT9fY1IyqM4/HFXAKzVJ3hi05Tcei5PmIVWT0JyXeAl50mCGMmaZvJTch5/1qKz3FObBv2yNNVs7VhdMEJ4JabEw7ZE/ov8OsbhXWDBAfLr5nWZf6Y7T9nw1kbsUnalF+38wvT0xYyJdFx95TGesljHpnSkSxPqw6r8y2fPOc34aTmfpT5Wsn/iXZ5A0AAAAAElFTkSuQmCC");
}
#brae-home-page #nav-field .bottom-field .Already-checked {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADoAAABaBAMAAAAbYVhBAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAeUExURQAAAP/ABv+/Bv/ABv/ABf+/BP+6AP+/Bf/BBv/BB8Jd/kEAAAAJdFJOUwDxbKOHKxRMxtIq4jkAAAFTSURBVEjH7ZbPa4MwFIDf6lp3bQdbe3NSGN4UTz2ulIG3lhHHbsJIel3Hupw9FDxrx8x/O2P82ZnAdtvwgUHf5/ciJtEAdIZmgCIWsQJqjClkjzG5fM6YQvY4jVWqVPYEtVVq0qu92qt/XX1SqQWVqAW1VVSmCmqrqFTNqVSFLaUUfhWmIm5hxuSRwlgRU+jj38WIN6SReGjSHf+zhi91wjoACfgJzo7nJIBBEtRUH68XYibx5O4KNq35vbmmdI8c+gqA/O09nhK0rulwwtu7xofg++rIqZXd+wlwUVESEAW1xNMUNFsDR9O8qegj8hpuFEVpFIX2SY+Syj+hruumrut007fVcp6Y85XRSUFUbr8HPRB0j3yCY0Iwem9QyxC0XuwfNdXSwkWE5JUJ9ivqhIa83+HskDU4LC/b27LRZVb3jB3LyXCyaeNDPViWA65PyvwXV3oONOCBYwoAAAAASUVORK5CYII=");
}
#brae-home-page #nav-field .bottom-field .Individual-checked {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAABaBAMAAAAx0anuAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAhUExURQAAAP/BBv/BBv/ABf/BBv+/BP/BBv+5AP++A//ABv/BBiq4qdoAAAAKdFJOUwDP7FeUPLARJHaM7YBGAAACMElEQVRIx+2Vz2/TMBTH30japjutlVZQTyxQmHKaZCaknVA1aWKnbHCoekLTKKWnMAHTdsrEGIhTIfyYdlqyrYD/SvxsJ7Fja+LCja8UKf7o6dl+vwwg5X1vZ50fUJHTpahFndYEpXSs4TNJabaiUJcW+m0zZirNHYXSqwLvqTi1+ii9NAIN35a4qdHCeV3HlxIf6jiT+JOOaSTwsIJjgdcqOLwWD+2+q1vKk9zQaWpGW424o+NfeQS7Gl7I8ZrtfABzKp0VafDUgN8sU6xcKIuV6inNl9XyOSruEmll9cVSVJjmz9zWKFl493U3ieBv9YYkA8O6xn3PTq3NQOlzazPo7bCpXL48+VtbrUFDT8Oz60tzUimIqS3DeY7nqnhm6ZwiyYGB8Sw1g9KfZqmhLmw7ij3nTZxZqltW+NCCWZa2WqZi+K9/qcRKvSUZ9xoh5AkhckbUffnTTDE33Udi1X8qO715zmeXwO4F7MQGbkxWwL1j4O0elu0Gx5frTH3EByk6cHzsVGedizXbcfC4MxqNWq/pLe19WnR2mcEoOmZV3V7CA7Z9dgPVpkW4dthvPhUa7OswM7buY59lPipIBZ5f5thLCDn7xgKRCHw45Zg391Q6YngY5rjeg2aYY0SbIlIhvOrxv3vg3XXHArv4Wk34GBnA0X2nO97HHEzC/Y/vt8RLduDH4AQbxdOVYSa8B/QFBsxnU7L+cnXwIYK9BZwgYoKdlE+px2538lAuVv8AnIQDVwgGJQ8AAAAASUVORK5CYII=");
}
#brae-home-page #nav-field .bottom-field .Menu-unchecked {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAABaBAMAAAABXbjPAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAhUExURQAAAP/ABf/BBv/ABv/BBv+9A/+/Bf/BBv/ABv+7AP/BBs6W2dYAAAAKdFJOUwBgy5e4IkLoew+lYMthAAACIklEQVRIx+2VzW/aMBjGXygQyCnVqGA5lYiJKSem0K7jRFVGUU7eRzYpp5S2dM1tGyUrJ4RUkeWUruqmcVvDus5/5WxIcFaR3Jn25OLoF/u1H9tP4CWO0NQFOYrhKuD360tVHGwCFmC56qvF0k0jkn3Dt+SD0MI3GDPxHQAXsuuGMR3/AMg2mXYZyxJfI+f5ffX9jGUx64vzJc7PuH2I27+4ff8nvI5jB24kS+HzSDbzOhXy2rvHkuFsYSyJz8iLxoQYyxXRavs5jGAqYR+VparhBqiRuTuEKylCbfivFVGqEbTSLo29dujKpR4rG/Z68QJg0jCrkPYYWnu9ax/v2ONNAH6oG9qrR9faqc+c/HYXHYBIgosb6qhOD8tPv0ZPUSqoUyJ3cMZGwAmZ33OWbAmZPjmr9A5ywt+s87VXOC5deernBTMCBvC2/8XbFxKWC9wTZ8exBpbls9yhd13utAAuSb9ysznSTO2Fz0wPndjo6TOY1QMYkScYM+Me9dfO0+r2grUXLHeEy7Wb2r7c2wLu4o1bl35JFX99hWmd5oZ+mj8D3hoY3U5r3H04Z1lDpNku0hzhDd4AExWYoYzpiDdynyDMZmO+I9AE/sHozlZtJbjOoiR9kCpylc6Rz+8piqrUgj+UCFDZ6jwnrT1SkU4vNCYcXsp0Q0mp+8wZT92ETPplb2FCmcPYoEQOSEJGkGjAhOaNww5Md+7d3CV3kd9/AKQLG/dWhrHGAAAAAElFTkSuQmCC");
}
#brae-home-page #nav-field .bottom-field .Already-unchecked {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADoAAABaBAMAAAAbYVhBAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAeUExURQAAAP/ABv+/Bv+4AP/ABv/BBv/ABv++A/+/Bf/BBvhBEeYAAAAJdFJOUwDxbA+JyKgmRw7nVPQAAAFySURBVEjH7ZYxa8JAGIbfGltdtViazQaHZjs46jk26pJRSpBuugTcKoJXN6UdMosJvX/bS6LxpLmDdiriOxx4zz1fAvedF6A01TYM8bcGWBXCIPuxvTWoL3O97MekppWlCmhlqQJP4lmvWq+JUZ1c1DNUuyYVM5N6c1H/pboyqVh9GdSMatWMalVJ+VKrYiWE0KoZ1aroRVGEP8Ux5BG20CdGw5AWLjm71NJhoUwsifJjk96sI+V6dcdYpAssJoduQlBJlPX1xnqWd1I6ubnF/KS/5/eyp6Np5BBw3huwFuNvyps009HL/gj2/ajapKCuXCsP5XVBKaX4QYtb383fZk/lGdg5zkNB37mvuEEQxEEwUr4YPEPl39AwDOMwnE5K6eew30mczrBdSpFXVuOhTnIacb7obSnj/EOhbjunx8N+LOB1473LKSWyskXZsQGm2W5rnluzxwBjo8N2n36WWXey7pXYlVOkW13prw+0eZj/Brd7vVU9LpjXAAAAAElFTkSuQmCC");
}
#brae-home-page #nav-field .bottom-field .Individual-unchecked {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAABaBAMAAAAx0anuAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAkUExURQAAAP/ABv/BBv/BBv+8AP/BBv/ABf+/Bf/BBv+/Bf/ABv/BBpcsuqYAAAALdFJOUwCVyd4X8l4wsEh3D914tAAAAqZJREFUSMftlc9vEkEUx2dhy7LLpTZyaS9N8QeGi5HWH9nLUqWYcjIVtZlLDwZFLmuJwYRLqxKIXFATTeOlGsUaLsJ26dL555wfO7szS2O8ePMlTd9+8ubNvPe+MwDgm3qUcbKPQcQSOUTsiky1HPIWny0g1JFwHV2y8L8N0+0LVEHXmWPAUwEPx5bvNdBOQHW0HBzIfBjgomMF/gsnzHEChJU8iwrnhX1yV3kpyBLw56nvJMdiCfGR76TEswKF79k6kbqDeLZjEet8p/ovqWvI/iOWcwdJytMzt5wbiTioQnFEPHcaZBNHUg92MpcFHH7UJ+L8bO7GhCx1L3BVGExKh6vhypbLRzJ0baEy6LGvXXRDPGwDeVh/6lM0tiRZfUfo2iuInB1ZhOpXoszxYVSyYOPL/sACf2ulj4NPM9Eay/0jchlMDCGKyF7PoUdPLFA6ghJf4pfGMN3w5OvoFncNOAql7oVH2EV7QbvF4no8vCdJM+kH6WheOmyOSTLuyDUU2diGUxkbbLLmXqQRFGiSeOjy4xmp0eQT8QoFFiN7piZRbJD1Ze9cxBaIwlto1nCL3q/Mmg3+27+0wZlU3fIVq1UPsFV9hSQrNh9uHpvpazL93H8hDPr0xRlWpuA1C08IWG33gfJgJrpBMgzPUzwiOkkTvEnfCn3tG0nC9IMvWwEuZrvdbqaALkiqvZzYxwFdUMCqvoiPl8nn1/BqMWalSq2NXX4lVfyXxWH4O00eYLeCl1agw3DqPsXaoHYw/IkbUWW4fEgxvYn8FmPcsjlObgODFX+TIYbTfRDb9rF6T+mAJdopgtq0x02wvpowOyrrlFpqfmDhm1s2fqBIf4r0jXLJJNR38A1pWAUfIfm21rxjgdv4ke/5L9Xd8LdPw9W95D//td9EPNXnfA7D/QAAAABJRU5ErkJggg==");
}
#brae-home-page #nav-field .bottom-touch-num-4 div {
  width: 25%;
}
#brae-home-page #nav-field .bottom-touch-num-3 div {
  width: 33%;
}
/*brae-detail-page*/
/*common*/
* {
  padding: 0;
  margin: 0;
}
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-family: Verdana, Arial, Helvetica;
  background-color: #fffcf6;
}
li {
  list-style-type: none;
}
img {
  border: none;
}
input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
}
.vertical-center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
.hide {
  display: none;
}
