#brae-detail-page.hide.main-page
	#all-detail-content-field
		.all-page-field
			#Book-page.hide.main-detail-page
			#Activity-page.hide.main-detail-page
				#Activity-content
					.Activity-content-field
						#Activity-header-column
							.header-wrapper
								ul.header-display-list
									li#header-0
										img(src="" alt="活动详情" class="header-img")
									li#header-1
										img(src="" alt="活动详情" class="header-img")
									li#header-2
										img(src="" alt="活动详情" class="header-img")
							.choose-wrapper
								ul.choose-dot-list
									li#choose-dot-0.active
										.dot
									li#choose-dot-1.inactive
										.dot
									li#choose-dot-2.inactive
										.dot
							.business-name-wrapper
								.business-name-field
									p.business-name 杯口咖啡
							.like-wrapper
								.like-field
									icon.like-icon
									p.like-num 66

						#Activity-container-column
							.activity-container-wrapper
								#activity-promotion-field
									.title-field
										p.title 促销优惠
									ul.activity-promotion-list
										li#activity-basic-info-0.activity-basic-info
											img
											.info
												p.activity-name 杯口咖啡夏日大促
												p.activity-intro 即日起至2015年12月31日止，杯口咖啡全线商品8折(仅限店内食用，外卖不享受此项优惠)。
											.arrow
								#activity-theme-field
									.title-field
										p.title 主题活动
									ul.activity-theme-list
										li#activity-basic-info-1.activity-basic-info
											img
											.info
												p.activity-name 杯口咖啡外卖活动
												p.activity-intro 这个夏天，杯口咖啡将提供外卖服务，让你足不出户，尽享一天美好时光！
											.arrow
										.fivePercentLeftLine
										li#activity-basic-info-2.activity-basic-info
											img
											.info
												p.activity-name 杯口咖啡主题月
												p.activity-intro 杯口咖啡主题月，让你在这炎炎夏日，尽情品尝来自杯口的浓香。
											.arrow
