#brae-detail-page.hide.main-page
	#all-detail-content-field
		.all-page-field
			#Book-page.hide.main-detail-page
				#Book-content
					.book-content-field
						#book-order-column.hide
							#book-top-wrap
								#book-category-wrap
									#book-aside-wrap
										ul.tag-list
											//a chinese word 16px, a number 11px, a english 10px, a space 5.7xxxpx
							#book-menu-wrap
								#book-dish-wrap
									#book-main-wrap
										.food-list-wrap
								#book-info-wrap.hide.hide-right
										.food-img-wrapper
											.img-field
												img(border="0")
										.food-info-wrapper
											.food-info-field
												.full-part
													.top-wrap
														.name-field
															p.c-name
															p.e-name
														.label-field
															p.dc-label
															p.tag-label
													.bottom-wrap.font-number-word
														.price-field
															p.min-price.money
															p.init-price.money
														.controll-field
															.plus-field.btn
																.img
										.food-intro-wrapper
											.food-intro-field
												.title-wrap
													p.title 餐品简介
												.fivePercentLeftLine
												.intro-wrap
													p.intro 
								#book-order-wrap.hide.hide-left
										.food-order-wrapper

										.food-discount-wrapper
											.title-field
												p.title 优惠折扣
											ul.discount-list
												li.discount-field
													.discount-wrapper
														.discount-name-field
															p.discount-name 第二杯半价
														.discount-money-field
															p.minus -
															p.discount-money.money 10
												.fivePercentLeftLine
												li.discount-field
													.discount-wrapper
														.discount-name-field
															p.discount-name 立减优惠
														.discount-money-field
															p.minus -
															p.discount-money.money 2
												.fivePercentLeftLine
												li.discount-field
													.discount-wrapper
														.discount-name-field
															p.discount-name 会员折扣
														.discount-money-field
															p.minus -
															p.discount-money.money 3
										.food-memo-wrapper
											.title-field
												p.title 备忘
												.arrow
											.memo-field
												p.memo 阿萨德加拉开始觉得老师；阿卡的骄傲SD卡垃圾啊塑料袋；啊涉及到了卡斯加达拉斯肯德基阿斯科利就打算离开的家里撒肯德基流口水


						#book-bottom-column
							.bottom-wrapper
								.total-order-field
									.trolley-field
										.num.font-number-word 0
										.img
									.total-price-field
										p.word 总价:
										p.total-price.money.font-number-word 0
								.confirm-field
									div.order-btn
										p.order 查看订单
									div.pay-btn.hide
										p.pay 结账
			#Activity-page.hide.main-detail-page
				#Activity-content
					.Activity-content-field
						#Activity-header-column
							.header-wrapper
								ul.header-display-list
									li#header-0
										img(src="" alt="活动详情" class="header-img")
									li#header-1
										img(src="" alt="活动详情" class="header-img")
									li#header-2
										img(src="" alt="活动详情" class="header-img")
							.choose-wrapper
								ul.choose-dot-list
									li#choose-dot-0.active
										.dot
									li#choose-dot-1.inactive
										.dot
									li#choose-dot-2.inactive
										.dot
							.business-name-wrapper
								.business-name-field
									p.business-name 杯口咖啡
							.like-wrapper
								.like-field
									icon.like-icon
									p.like-num.font-number-word 66

						#Activity-container-column
							.activity-container-wrapper
					.Activity-information-field.hide-right
						#Activity-information-column
							.activity-information-wrapper
								#activity-info-img-field
									.img-field
										img
								#activity-info-title-field
									.name-field
										.title-type
										p.name
									.intro-field
										p.intro
								.fivePercentLeftLine
								#activity-info-time-field
									.name-field
										p.name 活动时间
									.time-field
										p.time.font-number-word
								.fivePercentLeftLine
								#activity-info-content-field
									.name-field
										p.name 活动简介
									.content-field
										p.content