#brae-detail-page.hide.main-page
	#all-detail-content-field
		.all-page-field
			#Book-page.hide.main-detail-page
			#Activity-page.hide.main-detail-page
				#Activity-content
					.Activity-content-field
						#Activity-header-column
							
						#Activity-container-column
