#brae-detail-page.hide.main-page
	#all-detail-content-field
		.all-page-field
			#Book-page.hide.main-detail-page
				#Book-content
					.book-content-field
						#book-order-column
							#book-top-wrap
								#book-category-wrap
									.left-cover.top-cover.hide
									#book-aside-wrap
										ul.tag-list
									.right-cover.top-cover
							#book-menu-wrap
								#book-info-wrap
										.food-img-wrapper
											.img-field
												.img.default-display-image(border="0")
										.food-info-wrapper
											.food-info-field
												.full-part
													.top-wrap
														.name-field
															p.c-name
															p.e-name
														.label-field
															p.dc-label
															p.tag-label
													.bottom-wrap.font-number-word
														.price-field
															p.min-price.money
															p.init-price.money
														.controll-field
															.plus-field.btn
																.img
										.food-intro-wrapper
											.food-intro-field
												.title-wrap
													p.title 餐品简介
												.fivePercentLeftLine
												.intro-wrap
													p.intro
								#book-dish-wrap
									#book-main-wrap
										.food-list-wrap
								#book-order-wrap
										.food-order-wrapper

										.food-discount-wrapper.hide
											.title-field
												p.title 优惠折扣
											ul.discount-list
										.food-memo-wrapper
											.title-field
												p.title 备忘
												.arrow
											.memo-field
												p.memo
								#Choose-payment-method-page
									#Choose-payment-method-content
										#payment-total-column
											.payment-total-wrapper
												.total-field
													p.word 订单总价:
													p.total-price.money.font-number-word 46
										.Choose-payment-method-content-field
											#choose-payment-via-member-column
												.via-member-title-field.via-title-field
													.title-wrapper
														.title-field
															p.title 使用会员余额支付
												ul.via-member-list
													li#choose-member.via-member
														.via-member-wrapper.li-wrapper
															.VIP-img-field.img-field
																.img.VIP-member-image
															.member-info-field.info-field
																.remainder-field.up-field
																	p.word 您的会员余额: 
																.discount-field.down-field
																	p.remainder-number.money.font-number-word 0
															.choose-field

													.fivePercentLeftLine.hide
													li#recharge-btn.via-member.hide
														.via-member-wrapper.li-wrapper
															.VIP-img-field.img-field
																.img.VIP-member-image
															.member-info-field.info-field
																.remainder-field.up-field
																	p.word 您的会员余额: 
																	p.remainder-number.money.font-number-word 0
																.discount-field.down-field
																	p.remind 余额不足以支付，马上充值
															.arrow
											#choose-payment-via-online-column
												.via-online-title-field.via-title-field
													.title-wrapper
														.title-field
															p.title 使用在线支付
													.clear
												ul.via-online-list
											#choose-payment-via-cash-column
											#remind-via-cash-column
												.via-remind-body
													.remind-field
														p.remind 使用现金充值请到前台
											#confirm-pay-column.confirm-column
												.confirm-wrapper
													.confirm-field
														p.confirm 确认支付
								.clear

						#choose-combo-column
							.choose-combo-wrapper
								#choose-combo
									#choose-combo-sub-item-container


						#book-bottom-column
							.bottom-wrapper
								#book-order-bottom-field
									.total-order-field
										.trolley-field.disabled
											.num.font-number-word 0
											.img.trolley-image
										.total-price-field
											p.word 总价:
											p.total-price.money.font-number-word 0
										.clear
									.confirm-field
										.order-btn.disabled
											p.order 选好了
										.pay-btn.hide
											p.pay 结账
								#choose-combo-bottom-field.hide
									.total-choose-combo-field
										.total-price-field
											p.word 套餐总价:
											p.total-price.money.font-number-word 0
										.clear
									.confirm-field
										.combo-confirm-btn.disabled
											p.confirm 确认套餐
			#Activity-page.hide.main-detail-page
				#Activity-content
					.Activity-content-field
						#Activity-header-column
							.header-wrapper
								ul.header-display-list
							.choose-wrapper
								ul.choose-dot-list
							.business-name-wrapper
								.business-name-field
									p.business-name 杯口咖啡
							.like-wrapper
								.like-field
									icon.like-icon.unlike
									p.like-num.font-number-word 0

						#Activity-container-column
							.activity-container-wrapper
					.Activity-information-field.hide-right
						#Activity-information-column
							.activity-information-wrapper
								#activity-info-img-field
									.img-field
										.img.default-display-image
								#activity-info-title-field
									.name-field
										.title-type
										p.name
									.intro-field
										p.intro
								.fivePercentLeftLine
								#activity-info-time-field
									.name-field
										p.name 活动时间
									.time-field
										p.time.font-number-word
								.fivePercentLeftLine
								#activity-info-content-field
									.name-field
										p.name 活动简介
									.content-field
										p.content