#brae-detail-page.hide.main-page
	#all-detail-content-field
		.all-page-field
			#Book-page.hide.main-detail-page
				#Book-content
					.book-content-field
						#book-order-column.hide
							#book-top-wrap
								#book-category-wrap
									.left-cover.top-cover
									#book-aside-wrap
										ul.tag-list
									.right-cover.top-cover
							#book-menu-wrap
								#book-dish-wrap
									#book-main-wrap
										.food-list-wrap
								#book-info-wrap.hide.hide-right
										.food-img-wrapper
											.img-field
												img(border="0")
										.food-info-wrapper
											.food-info-field
												.full-part
													.top-wrap
														.name-field
															p.c-name
															p.e-name
														.label-field
															p.dc-label
															p.tag-label
													.bottom-wrap.font-number-word
														.price-field
															p.min-price.money
															p.init-price.money
														.controll-field
															.plus-field.btn
																.img
										.food-intro-wrapper
											.food-intro-field
												.title-wrap
													p.title 餐品简介
												.fivePercentLeftLine
												.intro-wrap
													p.intro 
								#book-order-wrap.hide.hide-left
										.food-order-wrapper

										.food-discount-wrapper.hide
											.title-field
												p.title 优惠折扣
											ul.discount-list
										.food-memo-wrapper
											.title-field
												p.title 备忘
												.arrow
											.memo-field
												p.memo


						#book-bottom-column
							.bottom-wrapper
								.total-order-field
									.trolley-field
										.num.font-number-word 0
										.img
									.total-price-field
										p.word 总价:
										p.total-price.money.font-number-word 0
								.confirm-field
									div.order-btn
										p.order 查看订单
									div.pay-btn.hide
										p.pay 结账
			#Activity-page.hide.main-detail-page
				#Activity-content
					.Activity-content-field
						#Activity-header-column
							.header-wrapper
								ul.header-display-list
							.choose-wrapper
								ul.choose-dot-list
							.business-name-wrapper
								.business-name-field
									p.business-name 杯口咖啡
							.like-wrapper
								.like-field
									icon.like-icon
									p.like-num.font-number-word 66

						#Activity-container-column
							.activity-container-wrapper
					.Activity-information-field.hide-right
						#Activity-information-column
							.activity-information-wrapper
								#activity-info-img-field
									.img-field
										img
								#activity-info-title-field
									.name-field
										.title-type
										p.name
									.intro-field
										p.intro
								.fivePercentLeftLine
								#activity-info-time-field
									.name-field
										p.name 活动时间
									.time-field
										p.time.font-number-word
								.fivePercentLeftLine
								#activity-info-content-field
									.name-field
										p.name 活动简介
									.content-field
										p.content