#brae-extra-content-page.extra-page.hide
	#all-payment-content-field
		.all-page-field
			#Recharge-page.hide.extra-content-page
				#Recharge-content
					.Recharge-content-field
						#recharge-amount-column
							.title-field
								p.title 选择充值金额
							.amount-wrapper
								ul.amount-list.font-number-word
			#Coupon-page.hide.extra-content-page
				#Coupon-lack.hide
					.Coupon-lack-wrapper
						.Coupon-lack-container
							.icon-field
								.coupon-icon
							.word-field
								p 您现在还没有卡券，请先点餐 ~
							.btn-field
								a(href="#-Detail-Book-bookCol")
									.confirm-btn
										p 去点餐
				#Coupon-regular
					.Coupon-regular-wrapper
						.Coupon-regular-container
							#Coupon
								.Coupon-wrapper
									.Coupon-container
										ul.Coupon-display-list
										ul.Coupon-use-list
					.btn-field
						.confirm-btn
							p 确认使用
