#brae-extra-content-page.extra-page.hide
	#all-payment-content-field
		.all-page-field
			#Recharge-page.hide.extra-content-page
				#Recharge-content
					.Recharge-content-field
						#recharge-amount-column
							.title-field
								p.title 选择充值金额
							.amount-wrapper
								ul.amount-list.font-number-word
			#Coupon-page.hide.extra-content-page
				#Coupon-lack.hide
					.Coupon-lack-wrapper
						.Coupon-lack-container
							.icon-field
								.coupon-icon
							.word-field
								p 您现在还没有卡券，请先点餐 ~
							.btn-field
								a(href="#-Detail-Book-bookCol")
									.confirm-btn
										p 去点餐
				#Coupon-regular
					.Coupon-regular-wrapper
						.Coupon-regular-container
							#Coupon
								.Coupon-wrapper
									.Coupon-container
										ul.Coupon-list
											li.Coupon.display
												.left-part
													.reduce-cost-field
														p.reduct-cost.font-number-word 10.0
													.cost-field
														p.cost
															span 满 
															span.price.font-number-word 25 
															span 可用
												.center-line
												.right-part
													.name-field
														p.name 通用代金券
													.apply-field
														p.apply 仅限在餐厅：杯口咖啡杯口咖啡杯口咖啡 使用
													.composition-field
														p.composition
															span 最多可叠加使用 
															span.font-number-word 2 
															span 张
													.date-field
														p.date
															span 有效期至 
															span.font-number-word 2016.08.31
												.clear
