script(src='/public/version/public/js/common/extra.min_ef43fb5b5d.js', type='text/javascript')
script(src='/public/version/public/js/main.min_3d5e156321.js', type='text/javascript')
link(rel='stylesheet' type='text/css' href='/public/version/public/css/base64.min_bd078279f0.css')
