#brae-form-page.form-page.hide
	#cover-field
		.cover
	#all-page-content-field
		.all-page-field
			#login-page.popup-form-page.total-center.hide
			#book-choose-page.popup-form-page.total-center.hide
				.page-wrapper
					.header-field
						.btn-field
							.btn
						.title-field
							p.title
					.container-field
						.book-choose-wrapper
						.choose-info-wrapper
							.choose-info-field
								.choose-name-field
									p.word 已选: 
									p.choose-info
									.clear
								.price-field
									.price-wrapper.font-number-word
								.clear
						.confirm-column.btn-wrapper
							.confirm-wrapper
								.confirm-field
									p.confirm 加入购物车
									.clear

			#remark-for-trolley-page.popup-form-page.total-center.hide
			#alert-page.popup-form-page.total-center.hide
			#confirm-page.popup-form-page.total-center.hide