#brae-form-page.form-page.hide
	#cover-field
		.cover
	#all-page-content-field
		.all-page-field
			#login-page.popup-form-page.total-center.hide
			#book-choose-page.popup-form-page.total-center.hide
				.page-wrapper
					.header-field
						.btn-field
							.btn
						.title-field
							p.title 杯口特调
					.container-field
						.book-choose-wrapper
							#book-choose-0.book-choose
								.group-name-field
									p.group-name 冷热
								ul.book-choose-list
									li#choose-elem-0.choose-elem 冷
									li#choose-elem-1.choose-elem.choose 热
									.clear
							.fivePercentLeftLine
							#book-choose-1.book-choose
								.group-name-field
									p.group-name 口味
								ul.book-choose-list
									li#choose-elem-0.choose-elem.choose 玫瑰
									li#choose-elem-1.choose-elem 茉莉
									li#choose-elem-2.choose-elem 蜜桃
									li#choose-elem-3.choose-elem 巧克力
									li#choose-elem-4.choose-elem 百香果
									li#choose-elem-5.choose-elem 奥利奥
									.clear
							.fivePercentLeftLine
							#book-choose-2.book-choose
								.group-name-field
									p.group-name 杯型
								ul.book-choose-list
									li#choose-elem-0.choose-elem 小
									li#choose-elem-1.choose-elem.choose 中
									li#choose-elem-2.choose-elem 大
									.clear
							.fivePercentLeftLine
						.choose-info-wrapper
							.choose-info-field
								.choose-name-field
									p.word 已选: 
									p.choose-info 热、玫瑰、中
								.price-field.font-number-word
									p.min-price.money 22
									p.init-price.money 23
								.clear
						.confirm-column.btn-wrapper
							.confirm-wrapper
								.confirm-field
									p.confirm 加入购物车
									.clear

			#remark-for-trolley-page.popup-form-page.total-center.hide
			#alert-page.popup-form-page.total-center.hide
			#confirm-page.popup-form-page.total-center.hide