#brae-extra-form-page.extra-page
	.cover
	#login-filed.center-form.hide
	#book-choose-field.center-form.hide
	#remark-for-trolley-field.center-form.hide
	#alert-field.center-form.hide
	#confirm-field.center-form.hide