#brae-form-page.form-page.hide
	#cover-field
		.cover
	#all-page-content-field
		.all-page-field
			#login-page.popup-form-page.adapt-center.hide
				.page-wrapper
					.header-field
						.btn-field
							.btn.close-btn-image
						.title-field
							p.title 手机验证
					.container-field
						.upper-wrapper
							.warm-field
								p.warm 欢迎您, 新朋友!
								p.warm 首次使用请您先验证手机，以便享受更多优惠！
						.lower-wrapper
							.input-filed
								input(name="phone" id="phone" placeholder="请输入您的手机号码")
						.extra-wrapper
							.extra-field
								.left-part
									input(name="id" id="id" placeholder="请输入验证码")
								.right-part
									#get-id-btn.btn
										p 获取验证码
									#wait-btn.btn.font-number-word.hide
										p 59s后再试
						.confirm-column.btn-wrapper
							.confirm-wrapper
								.confirm-field.disabled
									p.confirm 登录
									.clear
			#book-choose-page.popup-form-page.total-center.hide
				.page-wrapper
					.header-field
						.btn-field
							.btn.close-btn-image
						.title-field
							p.title
					.container-field
						.book-choose-wrapper
						.choose-info-wrapper
							.choose-info-field
								.choose-name-field
									p.choose-info
									p.word 已选: 
									.clear
								.price-field
									.price-wrapper.font-number-word
								.clear
						.confirm-column.btn-wrapper
							.confirm-wrapper
								.confirm-field
									p.confirm 加入购物车
									.clear

			#remark-for-trolley-page.popup-form-page.adapt-center.hide
				.page-wrapper
					.header-field
						.btn-field
							.btn.close-btn-image
						.title-field
							p.title 备注
					.container-field
						.upper-wrapper
							.warm-field
								p.warm 请输入您的备注信息, 如: 牛奶过敏, 去冰等。
						.lower-wrapper
							.input-filed
								input(name="remark" id="remark" placeholder="请输入您的备注信息" maxlength="150")
						.confirm-column.btn-wrapper
							.confirm-wrapper
								.confirm-field
									p.confirm 提交备注
									.clear
			#alert-page.popup-form-page.adapt-center.hide
			#combo-choose-delete-page.popup-form-page.adapt-center.hide
				.page-wrapper
					.header-field
						.btn-field
							.btn.close-btn-image
						.title-field
							p.title 单品删除
					.container-field
						.combo-choose-delete-wrapper
						.confirm-column.btn-wrapper
							.confirm-wrapper
								.confirm-field
									p.confirm 确认
									.clear
			#confirm-page.popup-form-page.adapt-center.hide
				.page-wrapper
					.header-field
						.btn-field
							.btn.close-btn-image
						.title-field
							p.title 弹窗
					.container-field
						.upper-wrapper
							.content-field
								p.content 这里应该空白~
						.lower-wrapper.hide
							.input-filed
								input(name="server" id="server" placeholder="请输入您需要的服务" maxlength="64")
						.confirm-column.btn-wrapper
							.confirm-wrapper
								.cancel-field.left-btn
									p.cancel 取消
								.confirm-field.right-btn
									p.confirm 确定
								.clear