#brae-form-page.extra-page.hide
	#cover-field
		.cover
	#all-page-content-field
		.all-page-field
			#login-page.extra-form-page.center-form.hide
			#book-choose-page.extra-form-page.center-form.hide
			#remark-for-trolley-page.extra-form-page.center-form.hide
			#alert-page.extra-form-page.center-form.hide
			#confirm-page.extra-form-page.center-form.hide