#brae-payment-page.extra-page.hide
	#all-payment-content-field
		.all-page-field
			#Recharge-page.hide-right.extra-content-page
				#Recharge-content
					.Recharge-content-field
						#recharge-amount-column
							.amount-wrapper
								ul.amount-list
									li#amount-0
										.amount-li-field
											.img-field
												#rank-img.member-rank-1
											.recharge-info-field
												.rank-field
													p.rank Lv.1
													p.member-name 青铜级会员
												.discount-field
													p.discount 尊享9.5折优惠
												.amount-field
													p.word 充值金额: 
													p.amount 50
									.fivePercentLeftLine
									li#amount-1
										.amount-li-field
											.img-field
												#rank-img.member-rank-2
											.recharge-info-field
												.rank-field
													p.rank Lv.2
													p.member-name 白银级会员
												.discount-field
													p.discount 尊享9.0折优惠
												.amount-field
													p.word 充值金额: 
													p.amount 150
									.fivePercentLeftLine
									li#amount-2
										.amount-li-field
											.img-field
												#rank-img.member-rank-3
											.recharge-info-field
												.rank-field
													p.rank Lv.3
													p.member-name 黄金级会员
												.discount-field
													p.discount 尊享8.5折优惠
												.amount-field
													p.word 充值金额: 
													p.amount 450
									.fivePercentLeftLine
									li#amount-3
										.amount-li-field
											.img-field
												#rank-img.member-rank-4
											.recharge-info-field
												.rank-field
													p.rank Lv.4
													p.member-name 白金级会员
												.discount-field
													p.discount 尊享8.0折优惠
												.amount-field
													p.word 充值金额: 
													p.amount 750
									.fivePercentLeftLine
									li#amount-4
										.amount-li-field
											.img-field
												#rank-img.member-rank-5
											.recharge-info-field
												.rank-field
													p.rank Lv.5
													p.member-name 钻石级会员
												.discount-field
													p.discount 尊享7.5折优惠
												.amount-field
													p.word 充值金额: 
													p.amount 950
						#recharge-confirm-column.confirm-column
							.recharge-confirm-wrapper.confirm-wrapper
								.confirm-field
									p.confirm 确认充值
			#Choose-payment-method-page.hide-right.extra-content-page
				#Choose-payment-method-content
					.Choose-payment-method-content-field
						#payment-total-column
							.payment-total-wrapper
								.total-field
									p.word 订单总结:
									p.total-price 46
						#choose-payment-via-member-column
						#choose-payment-via-online-column
						#choose-payment-via-cash-column
						#confirm-pay-column
