#brae-payment-page.extra-page
	#all-payment-content-field
		.all-page-field
			#Recharge-page.hide-right.extra-content-page
				#Recharge-content
					.Recharge-content-field
						#Recharge-container-column
						#recharge-confirm-column
							.recharge-confirm-wrapper
								#recharge-confirm-field
									.confirm-field
										p.confirm 确认充值
			#Confirm-pay-page.hide.extra-content-page
