#brae-payment-page.extra-page.hide
	#all-payment-content-field
		.all-page-field
			#Recharge-page.hide.extra-content-page
				#Recharge-content
					.Recharge-content-field
						#recharge-amount-column
							.title-field
								p.title 选择充值金额
							.amount-wrapper
								ul.amount-list.font-number-word

						//#recharge-confirm-column.confirm-column
							.recharge-confirm-wrapper.confirm-wrapper
								.confirm-field
									p.confirm 确认充值
