script(type="text/javascript") document.addEventListener("touchstart", function(){}, true);
//script(src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript")
script(src="#{min_extrajsURL}", type="text/javascript")
script(src="#{min_mainjsURL}", type="text/javascript")
script document.write('<script src="//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1"><\/script>')
