link(rel="stylesheet" type="text/css" href="/public/css/Client/base64.css")

script document.write('<script src="//' + (location.hostname || 'localhost') + ':35729/livereload.js?snipver=1"><\/script>')
