script(src="/Table/Dinner" type="text/javascript" async="async")
script(src="/Table/Limit" type="text/javascript" async="async")
script(src="/Table/Coupon" type="text/javascript" async="async")
script(src="/Table/Member" type="text/javascript" async="async")
