doctype html
html
	head
		include jade/head

	body
		span #{title}
		#braeco
			#main
				include jade/homePage

				include jade/detailPage

			#popup.hide
				include jade/formPage

			#extra.hide
				include jade/paymentPage


		include jade/script