doctype html
html
	head
		include jade/head
		include jade/commonScript
		block headComponent

	body
		#braeco
			#main
				include jade/homePage

				include jade/detailPage

			#popup.hide
				include jade/formPage

			#extra.hide
				include jade/extraPage
		block script
