doctype html
html
	head
		script(src="/Table/Data" type="text/javascript" async='async')
		include jade/head
		block css

	body
		#braeco
			#main
				include jade/homePage

				include jade/detailPage

			#popup.hide
				include jade/formPage

			#extra.hide
				include jade/paymentPage

		block script