/*-----------Add Book Animation Start----------*/

.animation-for-add-book-frame(@stage: 1) when (@stage =1) {
    .transform(scale3d(1, 1, 1) rotate(0));
    opacity: 1;
}

.animation-for-add-book-frame(@stage: 1) when(@stage =2) {
    .transform(scale3d(0.85, 0.85, 1) rotate(-6deg));
    opacity: 1;
}

.animation-for-add-book-frame(@stage: 1) when (@stage =3) {
    .transform(scale3d(1.15, 1.15, 1) rotate(6deg));
    opacity: 0.9;
}

.animation-for-add-book-frame(@stage: 1) when (@stage =4) {
    .transform(scale3d(1.15, 1.15, 1) rotate(-6deg));
    opacity: 0.9;
}

@keyframes animation-for-add-book {
    0% {
        .animation-for-add-book-frame(1);
    }
    11% {
        .animation-for-add-book-frame(2);
    }
    33% {
        .animation-for-add-book-frame(3);
    }
    44% {
        .animation-for-add-book-frame(4);
    }
    55% {
        .animation-for-add-book-frame(3);
    }
    66% {
        .animation-for-add-book-frame(4);
    }
    77% {
        .animation-for-add-book-frame(3);
    }
    88% {
        .animation-for-add-book-frame(4);
    }
    99% {
        .animation-for-add-book-frame(1);
    }
    100% {
        .animation-for-add-book-frame(1);
    }
}

@-moz-keyframes animation-for-add-book
/* Firefox */

{
    0% {
        .animation-for-add-book-frame(1);
    }
    11% {
        .animation-for-add-book-frame(2);
    }
    33% {
        .animation-for-add-book-frame(3);
    }
    44% {
        .animation-for-add-book-frame(4);
    }
    55% {
        .animation-for-add-book-frame(3);
    }
    66% {
        .animation-for-add-book-frame(4);
    }
    77% {
        .animation-for-add-book-frame(3);
    }
    88% {
        .animation-for-add-book-frame(4);
    }
    99% {
        .animation-for-add-book-frame(1);
    }
    100% {
        .animation-for-add-book-frame(1);
    }
}

@-webkit-keyframes animation-for-add-book
/* Safari 和 Chrome */

{
    0% {
        .animation-for-add-book-frame(1);
    }
    11% {
        .animation-for-add-book-frame(2);
    }
    33% {
        .animation-for-add-book-frame(3);
    }
    44% {
        .animation-for-add-book-frame(4);
    }
    55% {
        .animation-for-add-book-frame(3);
    }
    66% {
        .animation-for-add-book-frame(4);
    }
    77% {
        .animation-for-add-book-frame(3);
    }
    88% {
        .animation-for-add-book-frame(4);
    }
    99% {
        .animation-for-add-book-frame(1);
    }
    100% {
        .animation-for-add-book-frame(1);
    }
}

@-o-keyframes animation-for-add-book
/* Opera */

{
    0% {
        .animation-for-add-book-frame(1);
    }
    11% {
        .animation-for-add-book-frame(2);
    }
    33% {
        .animation-for-add-book-frame(3);
    }
    44% {
        .animation-for-add-book-frame(4);
    }
    55% {
        .animation-for-add-book-frame(3);
    }
    66% {
        .animation-for-add-book-frame(4);
    }
    77% {
        .animation-for-add-book-frame(3);
    }
    88% {
        .animation-for-add-book-frame(4);
    }
    99% {
        .animation-for-add-book-frame(1);
    }
    100% {
        .animation-for-add-book-frame(1);
    }
}

/*-----------Add Book Animation End----------*/



/*-----------Popup Form Adapt Start--------------*/


@keyframes animation-for-popup-form-adapt {
    from {
        .transform(translate3d(-50%, -70%, 0) scale(1.4, 1.4));
        opacity: 0;
    }
    to {
        .transform(translate3d(-50%, -70%, 0) scale(1, 1));
        opacity: 1;
    }
}

@-moz-keyframes animation-for-popup-form-adapt
/* Firefox */

{
    from {
        .transform(translate3d(-50%, -70%, 0) scale(1.4, 1.4));
        opacity: 0;
    }
    to {
        .transform(translate3d(-50%, -70%, 0) scale(1, 1));
        opacity: 1;
    }
}

@-webkit-keyframes animation-for-popup-form-adapt
/* Safari 和 Chrome */

{
    from {
        .transform(translate3d(-50%, -70%, 0) scale(1.4, 1.4));
        opacity: 0;
    }
    to {
        .transform(translate3d(-50%, -70%, 0) scale(1, 1));
        opacity: 1;
    }
}

@-o-keyframes animation-for-popup-form-adapt
/* Opera */

{
    from {
        .transform(translate3d(-50%, -70%, 0) scale(1.4, 1.4));
        opacity: 0;
    }
    to {
        .transform(translate3d(-50%, -70%, 0) scale(1, 1));
        opacity: 1;
    }
}


/*-----------Popup Form Adapt End--------------*/


/*-----------Popup Form Total Start--------------*/

@keyframes animation-for-popup-form-total {
    from {
        .transform(translate3d(-50%, -50%, 0) scale(1.4, 1.4));
        opacity: 0;
    }
    to {
        .transform(translate3d(-50%, -50%, 0) scale(1, 1));
        opacity: 1;
    }
}

@-moz-keyframes animation-for-popup-form-total
/* Firefox */

{
    from {
        .transform(translate3d(-50%, -50%, 0) scale(1.4, 1.4));
        opacity: 0;
    }
    to {
        .transform(translate3d(-50%, -50%, 0) scale(1, 1));
        opacity: 1;
    }
}

@-webkit-keyframes animation-for-popup-form-total
/* Safari 和 Chrome */

{
    from {
        .transform(translate3d(-50%, -50%, 0) scale(1.4, 1.4));
        opacity: 0;
    }
    to {
        .transform(translate3d(-50%, -50%, 0) scale(1, 1));
        opacity: 1;
    }
}

@-o-keyframes animation-for-popup-form-total
/* Opera */

{
    from {
        .transform(translate3d(-50%, -50%, 0) scale(1.4, 1.4));
        opacity: 0;
    }
    to {
        .transform(translate3d(-50%, -50%, 0) scale(1, 1));
        opacity: 1;
    }
}


/*-----------Popup Form Total End--------------*/